<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title>{% block title %}{% endblock %} | E_Sell</title>

    <style>
        .footer-links a:hover {
            color: #FFD700; /* Change the color on hover */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light shadow-lg bg border border-success rounded-3" style="background-color:#8F43B0;">
        <a href="/" class="h1 navbar-brand shadow-lg" href="#" style="color:#EAE4E5; font-weight: 900;">E_Sell</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:#F6F1ED">New Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:#E2E3DC">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary rounded bg-info" style="color:#DFE608; font-weight: bold;" href="#">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success ml-2 rounded bg-success" href="#" style="color:#E5E510;font-weight: bold;">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5" style="background-color:#fbe3e8">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="py-6 px-6 shadow p-3 mb-5  text-white" style="background-color:#4c4cb0;">
        <div class="row">
            <div class="col-md-6">
                <h3 class="mb-4 font-weight-bold">About</h3>
                <p>Welcome to E-Sell, where commerce meets community. We believe in creating a platform that empowers individuals and businesses to showcase their products to a global audience.</p>
            </div>
            <div class="col-md-6">
                <h3 class="mb-4 font-weight-bold">Menu</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="#" class="text-light text-decoration-none">About</a></li>
                    <li><a href="{% url 'contact' %}" class="text-light text-decoration-none">Contact</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
