{% extends 'core_app/base.html' %}
{% block title %}Sign UP {% endblock %}
{% block content %}
<div class="container mb-4 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card rounded">
                <div class="card-header text-center h1 text-primary">Sign Up</div>
                <div class="card-body" style="background-color:#F4EE8C">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            {{ form.password1 }}
                        </div>
                        <div class="mb-3">
                            {{ form.password2 }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.card:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}
</style>
{% endblock %}
